$green: #57ad57;
$red: #db6f6f;
$yellow: #cbb64a;

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7a7474;
  position: relative;
}

.white {
  background: #fff;
}

.disabled {
  @extend .cell;
  padding: 0.7rem;
  background: transparent;
  border: none;
  pointer-events: none;
}

.selected {
  background: #cbb64a;
}

.reachable {
  &::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: $yellow;
  }

  &.impossible::before {
    background: $red;
  }

  &.underattack {
    background: $green;

    &::before {
      content: none;
    }
  }

  &.forbidden {
    background: $red;

    &::before {
      content: none;
    }
  }
}
