.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7a7474;
  position: relative;
}

.white {
  background: #fff;
}

.disabled {
  @extend .cell;
  padding: 0.7rem;
  background: transparent;
  border: none;
  pointer-events: none;
}

.possibleMove {
  &::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: #cbb64a;
  }
}

.underAttack {
  background: #57ad57;

  &::before {
    content: none;
  }
}

.impossibleMove {
  background: #db6f6f;
}


.selected {
  background: #cbb64a;
}