.history {
  width: 10vw;
  min-width: 200px;
  height: 78%;
  max-height: 360px;
  background: #7a7474;
  padding: 0.1rem;
  overflow-y: scroll;
  
  .move {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scrollDiv {
    float: left;
    clear: both;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}