.history {
  width: 10vw;
  min-width: 200px;
  height: 78%;
  max-height: 360px;
  background: green;
  padding: 0.1rem;
  overflow-y: scroll;
  
  .move {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scrollDiv {
    float: left;
    clear: both;
  }
}